*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Roboto, sans-serif;
}

:root{
    --yellow: #fcea49;
    --gray: #abacb3;
    --black: #2e2e2f;
}
body{
    display: grid;
    justify-items: center;
    background: var(--black);
}
main{
    margin-top: 5rem;
    width: 450px;
    height: fit-content;
    background-color: var(--yellow);
    position: relative;
    padding: 3.5rem 3.7rem 2.3rem 3.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    width: 450px;
    height: fit-content;
    background-color: white;
    top: 10px;
    right: -10px;
    border-radius: 2px;
   position: relative;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 30px;
}

.head{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.close{
    font-size: 1.2rem;
    opacity: 0.6;
}
.close:hover{
    opacity: 1;
    cursor: pointer;
}


.title{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 12px;
    color: var(--gray);
    font-weight: bold;
}


input{
    border: none;
    border-bottom: 0.1rem solid var(--gray);
}
textarea{
    border: none;
    border-bottom: 0.1rem solid var(--gray);
    resize: vertical;
}
input::placeholder{
    font-size: 12px;
    color: var(--gray);
}
textarea:focus, input:focus{
    outline: none;
    font-weight: bold;
}

.first-last{
    display: flex;
}

.first-last input{
    width: 200px;
}

.bio{
    border: none;
}
.footer{
    margin-top: 2rem;
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    font-size: 1.4rem;
}
.footer>span{
    opacity: 0.5;
}
.cancel:hover, .save:hover{
    opacity: 1;
    cursor: pointer;
}



